@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');

.bg-container {
    background-image: linear-gradient(to bottom right, #150734, #28559A, #4B9FE1);
    min-height: 100vh;

}

.todo-heading {
    font-family: "Bree Serif";
    font-size: 46px;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-input {
    background-color: #fff;
    width: 100%;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;

}

.button {
    background-color: #63BCE5;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    border-style: none;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.todo-items-container {
    margin: 0;
    padding: 0;
}

.MyTodoHeading {
    font-family: "Bree Serif";
    font-size: 46px;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.todo-item-container {
    margin: 15px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
}

.label-container {
    background-color: #fff;
    border-style: solid;
    border-width: 5px;
    border-color: #0F2557;
    width: 100%;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}

.check-box-label {
    font-family: 'Poppins', sans-serif;
    color: #0F2557;
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.delete-container {
    color: #0F2557;
    text-align: right;
    width: 18%;
}

.delete-icon {
    padding: 15px;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
}